{"swagger":"2.0","info":{"version":"v1","title":"API_X"},"host":"api.manajet.org","schemes":["https"],"paths":{"/api/AccountingReg":{"get":{"tags":["AccountingReg"],"summary":"Returns the list of bills with filter applied.","operationId":"AccountingReg_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_stock_document","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"date\", \"number\", \"number_desc\", \"seria\", \"seria_desc\"..","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.accounting_modif","in":"query","description":"API = 1, WEB = 0","required":false,"type":"integer","format":"int32"},{"name":"filter.accauting_exist","in":"query","required":false,"type":"boolean"},{"name":"filter.search_date_type","in":"query","description":"None = -1, Date = 0","required":false,"type":"integer","format":"int32"},{"name":"filter.period_begin","in":"query","required":false,"type":"string","format":"date-time"},{"name":"filter.period_end","in":"query","required":false,"type":"string","format":"date-time"},{"name":"filter.in_arhive","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiAccountingRegOutput"}}}}},"post":{"tags":["AccountingReg"],"summary":"Post list of bills.","operationId":"AccountingReg_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"billList","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiAccountingRegInput"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AccountingReg/{id}":{"get":{"tags":["AccountingReg"],"summary":"Fast method to get bill by id.","operationId":"AccountingReg_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiAccountingRegOutput"}}}}},"/api/AccountingStock":{"get":{"tags":["AccountingStock"],"summary":"Returns the list of bills with filter applied.","operationId":"AccountingStock_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"date\", \"number\", \"number_desc\", \"seria\", \"seria_desc\"..","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.accounting_modif","in":"query","description":"API = 1, WEB = 0","required":false,"type":"integer","format":"int32"},{"name":"filter.accauting_exist","in":"query","required":false,"type":"boolean"},{"name":"filter.search_date_type","in":"query","description":"None = -1, Date = 0, PaymentDate = 1, FactPaymentDate = 2, DeliveryDate = 3 , Planned = 4","required":false,"type":"integer","format":"int32"},{"name":"filter.period_begin","in":"query","required":false,"type":"string","format":"date-time"},{"name":"filter.period_end","in":"query","required":false,"type":"string","format":"date-time"},{"name":"filter.in_arhive","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiAccountingStockOutput"}}}}},"post":{"tags":["AccountingStock"],"summary":"Post list of bills.","operationId":"AccountingStock_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"billList","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiAccountingStockInput"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/AccountingStock/{id}":{"get":{"tags":["AccountingStock"],"summary":"Fast method to get bill by id.","operationId":"AccountingStock_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiAccountingStockOutput"}}}}},"/api/Bank":{"get":{"tags":["Bank"],"summary":"Returns the list of bills with filter applied.","operationId":"Bank_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"date\", \"number\", \"number_desc\", \"seria\", \"seria_desc\"..","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.in_arhive","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiBankOutput"}}}}},"post":{"tags":["Bank"],"summary":"Post list of bills.","operationId":"Bank_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"billList","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiBankInput"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Bank/{id}":{"get":{"tags":["Bank"],"summary":"Fast method to get bill by id.","operationId":"Bank_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiBankOutput"}}}}},"/api/BankAccount":{"get":{"tags":["BankAccount"],"summary":"Returns the list of bills with filter applied.","operationId":"BankAccount_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_company","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_bank","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"date\", \"number\", \"number_desc\", \"seria\", \"seria_desc\"..","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.status","in":"query","description":"Possible status - None = 0, Expired = 1, Paid = 2, Not Paid = 3, Approved = 4, Not Approved = 6.","required":false,"type":"integer","format":"int32"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.searchSourceId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.in_arhive","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiBankAccountOutput"}}}}},"post":{"tags":["BankAccount"],"summary":"Post list of bills.","operationId":"BankAccount_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"billList","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiBankAccountInput"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/BankAccount/{id}":{"get":{"tags":["BankAccount"],"summary":"Fast method to get bill by id.","operationId":"BankAccount_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiBankAccountOutput"}}}}},"/api/Bill/Count":{"get":{"tags":["Bill"],"summary":"Returns count of Bill's","operationId":"Bill_Count","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.outer_id","in":"query","required":false,"type":"string"},{"name":"filter.id_company","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_person","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_fp_plan_payment","in":"query","description":"Get all bills paid in id_fp_plan","required":false,"type":"integer","format":"int32"},{"name":"filter.id_fp_plan_approved","in":"query","description":"Get all bills approved in id_fp_plan","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"date\", \"number\", \"number_desc\", \"seria\", \"seria_desc\"..","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.status","in":"query","description":"Possible status - None = 0, Expired = 1, Paid = 2, Not Paid = 3, Approved = 4, Not Approved = 6.","required":false,"type":"integer","format":"int32"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.period_begin","in":"query","description":"yyyy-MM-dd, To enable use search_date_type property","required":false,"type":"string","format":"date-time"},{"name":"filter.period_end","in":"query","description":"yyyy-MM-dd, To enable use search_date_type property","required":false,"type":"string","format":"date-time"},{"name":"filter.search_date_type","in":"query","description":"None = -1, Date = 0, PaymentDate = 1, FactPaymentDate = 2, DeliveryDate = 3 , Planned = 4","required":false,"type":"integer","format":"int32"},{"name":"filter.searchSourceId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.in_arhive","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Bill":{"get":{"tags":["Bill"],"summary":"Returns the list of bills with filter applied.","operationId":"Bill_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter.outer_id","in":"query","required":false,"type":"string"},{"name":"filter.id_company","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_person","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_fp_plan_payment","in":"query","description":"Get all bills paid in id_fp_plan","required":false,"type":"integer","format":"int32"},{"name":"filter.id_fp_plan_approved","in":"query","description":"Get all bills approved in id_fp_plan","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"date\", \"number\", \"number_desc\", \"seria\", \"seria_desc\"..","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.status","in":"query","description":"Possible status - None = 0, Expired = 1, Paid = 2, Not Paid = 3, Approved = 4, Not Approved = 6.","required":false,"type":"integer","format":"int32"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.period_begin","in":"query","description":"yyyy-MM-dd, To enable use search_date_type property","required":false,"type":"string","format":"date-time"},{"name":"filter.period_end","in":"query","description":"yyyy-MM-dd, To enable use search_date_type property","required":false,"type":"string","format":"date-time"},{"name":"filter.search_date_type","in":"query","description":"None = -1, Date = 0, PaymentDate = 1, FactPaymentDate = 2, DeliveryDate = 3 , Planned = 4","required":false,"type":"integer","format":"int32"},{"name":"filter.searchSourceId","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.in_arhive","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiBillOutput"}}}}},"post":{"tags":["Bill"],"summary":"Post list of bills.","operationId":"Bill_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"billList","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiBillInput"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Bill/{id}":{"get":{"tags":["Bill"],"summary":"Fast method to get bill by id.","operationId":"Bill_GetById","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiBillOutput"}}}},"delete":{"tags":["Bill"],"summary":"delete","operationId":"Bill_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/BillAttachment/ExportFromTemplate":{"post":{"tags":["BillAttachment"],"operationId":"BillAttachment_ExportFromTemplate","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"submit","in":"body","required":true,"schema":{"$ref":"#/definitions/BillExportFromTemplateInput"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/BillAttachment":{"get":{"tags":["BillAttachment"],"summary":"Returns the list of bills with filter applied.","operationId":"BillAttachment_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"date\", \"number\", \"number_desc\", \"seria\", \"seria_desc\"..","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.in_arhive","in":"query","required":false,"type":"boolean"},{"name":"filter.id_stock_document","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiBillAttachmentOutput"}}}}},"post":{"tags":["BillAttachment"],"summary":"Post list of bills.","operationId":"BillAttachment_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"billList","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiBillAttachmentInput"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/BillAttachment/{id}":{"get":{"tags":["BillAttachment"],"summary":"Fast method to get bill by id.","operationId":"BillAttachment_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiBillAttachmentOutput"}}}}},"/api/BillPayment":{"post":{"tags":["BillPayment"],"operationId":"BillPayment_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"submit","in":"body","required":true,"schema":{"$ref":"#/definitions/BillPaymentInput"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/BillPayment/{id}":{"delete":{"tags":["BillPayment"],"summary":"delete","operationId":"BillPayment_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Company/Count":{"get":{"tags":["Company"],"summary":"Returns count of Companie's","operationId":"Company_Count","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_ids","in":"query","description":"Pass parameters as string seperated by ',' Example: 123,456,678,90","required":false,"type":"string"},{"name":"filter.is_owner","in":"query","required":false,"type":"boolean"},{"name":"filter.outer_id","in":"query","required":false,"type":"string"},{"name":"filter.name","in":"query","required":false,"type":"string"},{"name":"filter.desc","in":"query","required":false,"type":"string"},{"name":"filter.address","in":"query","required":false,"type":"string"},{"name":"filter.city","in":"query","required":false,"type":"string"},{"name":"filter.country","in":"query","required":false,"type":"string"},{"name":"filter.responsible","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.disabled","in":"query","required":false,"type":"boolean"},{"name":"filter.is_client","in":"query","required":false,"type":"boolean"},{"name":"filter.is_vendor","in":"query","required":false,"type":"boolean"},{"name":"filter.is_private_person","in":"query","required":false,"type":"boolean"},{"name":"filter.assigned_categories","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"filter.excluded_categories","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"filter.email","in":"query","required":false,"type":"string"},{"name":"filter.phone","in":"query","required":false,"type":"string"},{"name":"filter.registration","in":"query","required":false,"type":"string"},{"name":"filter.vat_id","in":"query","required":false,"type":"string"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"id\", \"id_desc\", \"name\", \"name_desc\". Default is \"id_desc\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Company/Owner":{"get":{"tags":["Company"],"summary":"Returns count of Companie's","operationId":"Company_Owner","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiCompany"}}}}},"/api/Company":{"get":{"tags":["Company"],"summary":"Returns the list of Companie's with filter applied.","operationId":"Company_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_ids","in":"query","description":"Pass parameters as string seperated by ',' Example: 123,456,678,90","required":false,"type":"string"},{"name":"filter.is_owner","in":"query","required":false,"type":"boolean"},{"name":"filter.outer_id","in":"query","required":false,"type":"string"},{"name":"filter.name","in":"query","required":false,"type":"string"},{"name":"filter.desc","in":"query","required":false,"type":"string"},{"name":"filter.address","in":"query","required":false,"type":"string"},{"name":"filter.city","in":"query","required":false,"type":"string"},{"name":"filter.country","in":"query","required":false,"type":"string"},{"name":"filter.responsible","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.disabled","in":"query","required":false,"type":"boolean"},{"name":"filter.is_client","in":"query","required":false,"type":"boolean"},{"name":"filter.is_vendor","in":"query","required":false,"type":"boolean"},{"name":"filter.is_private_person","in":"query","required":false,"type":"boolean"},{"name":"filter.assigned_categories","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"filter.excluded_categories","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"filter.email","in":"query","required":false,"type":"string"},{"name":"filter.phone","in":"query","required":false,"type":"string"},{"name":"filter.registration","in":"query","required":false,"type":"string"},{"name":"filter.vat_id","in":"query","required":false,"type":"string"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"id\", \"id_desc\", \"name\", \"name_desc\". Default is \"id_desc\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiCompany"}}}}},"post":{"tags":["Company"],"summary":"Updates or creates company or provate person. \r\nIf you will send request without ID parameter or OUTER ID parameter, service will create and return new company. \r\n \r\nIf you will send request without ID and with OUTER ID, it will try to search company with defined outer_id. Create and return new if there is not such company.\r\n \r\nIf you did successful update service will return updated record.\r\n \r\n NOTICE! Better send company via urlencoded form to avoid data loss. \r\n api/company HTTP/1.1\r\n Host: api.asminsolution.org\r\n Authorization: company:key\r\n Content-Type: application/x-www-form-urlencoded\r\n \r\n id=81890&amp;name=sample name&amp;desc=Description","operationId":"Company_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"submit","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/ApiCompany"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Company/{id}":{"get":{"tags":["Company"],"summary":"Fast method to get company or private person by id.","operationId":"Company_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiCompany"}}}}},"/api/CompanyAddress/Count":{"get":{"tags":["CompanyAddress"],"summary":"Returns count of address's","operationId":"CompanyAddress_Count","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_company","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/CompanyAddress":{"get":{"tags":["CompanyAddress"],"summary":"Returns the list of Company category with filter applied.","operationId":"CompanyAddress_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_company","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiCompanyAddress"}}}}},"post":{"tags":["CompanyAddress"],"summary":"Post list of Company category.","operationId":"CompanyAddress_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"categoryList","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiCompanyAddress"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/CompanyAddress/{id}":{"get":{"tags":["CompanyAddress"],"summary":"Fast method to get address by id.","operationId":"CompanyAddress_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiCompanyAddress"}}}}},"/api/CompanyAttachment":{"get":{"tags":["CompanyAttachment"],"summary":"Returns the list of companys with filter applied.","operationId":"CompanyAttachment_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"date\", \"number\", \"number_desc\", \"seria\", \"seria_desc\"..","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.in_arhive","in":"query","required":false,"type":"boolean"},{"name":"filter.id_company","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiCompanyAttachmentOutput"}}}}},"post":{"tags":["CompanyAttachment"],"summary":"Post list of companys.","operationId":"CompanyAttachment_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"companyList","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiCompanyAttachmentInput"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/CompanyAttachment/{id}":{"get":{"tags":["CompanyAttachment"],"summary":"Fast method to get company by id.","operationId":"CompanyAttachment_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiCompanyAttachmentOutput"}}}}},"/api/CompanyCategory/Count":{"get":{"tags":["CompanyCategory"],"summary":"Returns count of category's","operationId":"CompanyCategory_Count","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_company","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.in_arhive","in":"query","required":false,"type":"boolean"},{"name":"filter.sort","in":"query","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/CompanyCategory/Assign":{"post":{"tags":["CompanyCategory"],"summary":"Post list of Company category.","operationId":"CompanyCategory_Assign","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"categoryList","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiAssignCategory"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/CompanyCategory":{"get":{"tags":["CompanyCategory"],"summary":"Returns the list of Company category with filter applied.","operationId":"CompanyCategory_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_company","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.in_arhive","in":"query","required":false,"type":"boolean"},{"name":"filter.sort","in":"query","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiCategory"}}}}},"post":{"tags":["CompanyCategory"],"summary":"Post list of Company category.","operationId":"CompanyCategory_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"categoryList","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiCategory"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/CompanyCategory/{id}":{"get":{"tags":["CompanyCategory"],"summary":"Fast method to get category by id.","operationId":"CompanyCategory_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiCategory"}}}}},"/api/CompanyContact/Count":{"get":{"tags":["CompanyContact"],"summary":"Returns count of CompanyContact's","operationId":"CompanyContact_Count","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.in_arhive","in":"query","description":"value = false: not arhive(defalult)/value = true: in arhive/value = null: all","required":false,"type":"boolean"},{"name":"filter.id_id","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.outer_id","in":"query","description":"","required":false,"type":"string"},{"name":"filter.id_company","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.gender","in":"query","description":"Woman = 0, Man = 1","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"date\", \"number\", \"number_desc\", \"seria\", \"seria_desc\"..","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.email","in":"query","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.period_begin","in":"query","description":"yyyy-MM-dd, birthday","required":false,"type":"string","format":"date-time"},{"name":"filter.period_end","in":"query","description":"yyyy-MM-dd, birthday","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/CompanyContact":{"get":{"tags":["CompanyContact"],"summary":"Returns the list of CompanyContact with filter applied.","operationId":"CompanyContact_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.in_arhive","in":"query","description":"value = false: not arhive(defalult)/value = true: in arhive/value = null: all","required":false,"type":"boolean"},{"name":"filter.id_id","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.outer_id","in":"query","description":"","required":false,"type":"string"},{"name":"filter.id_company","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.gender","in":"query","description":"Woman = 0, Man = 1","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"date\", \"number\", \"number_desc\", \"seria\", \"seria_desc\"..","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.email","in":"query","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.period_begin","in":"query","description":"yyyy-MM-dd, birthday","required":false,"type":"string","format":"date-time"},{"name":"filter.period_end","in":"query","description":"yyyy-MM-dd, birthday","required":false,"type":"string","format":"date-time"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiContactOutput"}}}}},"post":{"tags":["CompanyContact"],"summary":"Post list of CompanyContact.","operationId":"CompanyContact_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"list","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiContactInput"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/CompanyContact/{id}":{"get":{"tags":["CompanyContact"],"summary":"Fast method to get CompanyContact by id.","operationId":"CompanyContact_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiContactOutput"}}}}},"/api/CompanyInfo":{"get":{"tags":["CompanyInfo"],"summary":"Returns the list of company_contact with filter applied.","operationId":"CompanyInfo_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.name","in":"query","required":false,"type":"string"},{"name":"filter.desc","in":"query","required":false,"type":"string"},{"name":"filter.address","in":"query","required":false,"type":"string"},{"name":"filter.city","in":"query","required":false,"type":"string"},{"name":"filter.country","in":"query","required":false,"type":"string"},{"name":"filter.responsible","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.disabled","in":"query","required":false,"type":"boolean"},{"name":"filter.is_client","in":"query","required":false,"type":"boolean"},{"name":"filter.is_vendor","in":"query","required":false,"type":"boolean"},{"name":"filter.is_private_person","in":"query","required":false,"type":"boolean"},{"name":"filter.assigned_categories","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"filter.excluded_categories","in":"query","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"filter.email","in":"query","required":false,"type":"string"},{"name":"filter.phone","in":"query","required":false,"type":"string"},{"name":"filter.registration","in":"query","required":false,"type":"string"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"id\", \"id_desc\", \"name\", \"name_desc\". Default is \"id_desc\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiCompanyContactInfo"}}}}},"post":{"tags":["CompanyInfo"],"summary":"Updates or creates company_contact or provate person. \r\nIf you will send request without ID parameter or OUTER ID parameter, service will create and return new company. \r\n \r\nIf you will send request without ID and with OUTER ID, it will try to search company with defined outer_id. Create and return new if there is not such company.\r\n \r\nIf you did successful update service will return updated record.\r\n \r\n NOTICE! Better send company via urlencoded form to avoid data loss. \r\n api/company HTTP/1.1\r\n Host: api.asminsolution.org\r\n Authorization: company:key\r\n Content-Type: application/x-www-form-urlencoded\r\n \r\n id=81890&amp;name=sample name&amp;desc=Description","operationId":"CompanyInfo_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"_company","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/ApiCompanyContactInfo"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/CompanyInfo/{id}":{"get":{"tags":["CompanyInfo"],"summary":"Fast method to get company_contact by id.","operationId":"CompanyInfo_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiCompanyContactInfo"}}}}},"/api/CompanyList":{"post":{"tags":["CompanyList"],"summary":"Here you can post list of comapnies. IF XML VERY IMPORTANT to keep order if attributes.","operationId":"CompanyList_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"_companyList","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiCompany"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/CustomFieldAttachment":{"get":{"tags":["CustomFieldAttachment"],"summary":"Returns the list of WorkflowCards with filter applied.","operationId":"CustomFieldAttachment_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"date\", \"number\", \"number_desc\", \"seria\", \"seria_desc\"..","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.in_arhive","in":"query","required":false,"type":"boolean"},{"name":"filter.id_company_custom_field","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_company_custom_field_data","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiCustomFieldAttachmentOutput"}}}}},"post":{"tags":["CustomFieldAttachment"],"summary":"Post list of WorkflowCards.","operationId":"CustomFieldAttachment_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"attachmentList","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiCompanyCustomDataAttachmentPOST"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/CustomFieldAttachment/{id}":{"get":{"tags":["CustomFieldAttachment"],"summary":"Fast method to get WorkflowCard by id.","operationId":"CustomFieldAttachment_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiCustomFieldAttachmentOutput"}}}}},"/api/DocumentAttachmentGenerator":{"post":{"tags":["DocumentAttachmentGenerator"],"operationId":"DocumentAttachmentGenerator_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"submit","in":"body","required":true,"schema":{"$ref":"#/definitions/FormSubmit_ExportFromTemplateInput"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/ExpenseCategory":{"get":{"tags":["ExpenseCategory"],"summary":"Returns the list of expense categories with filter applied.","operationId":"ExpenseCategory_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.outer_id","in":"query","description":"","required":false,"type":"string"},{"name":"filter.in_archive","in":"query","description":"","required":false,"type":"boolean"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"name\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiExpenseCategory"}}}}},"post":{"tags":["ExpenseCategory"],"summary":"Post list of expense categories.","operationId":"ExpenseCategory_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"expenseCatList","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiExpenseCategory"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/ExpenseCategory/{id}":{"get":{"tags":["ExpenseCategory"],"summary":"Fast method to get company or private person by id.","operationId":"ExpenseCategory_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiExpenseCategory"}}}}},"/api/File/{id}":{"get":{"tags":["File"],"summary":"Returns the list of file's with filter applied.","operationId":"File_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"type","in":"query","description":"company = 1, stock_document = 1, fp_purchase_order = 1","required":true,"type":"string"},{"name":"id","in":"path","description":"Id of attachment","required":true,"type":"integer","format":"int32"},{"name":"parameters","in":"query","description":"none","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/KeyValuePair[String,String]"}}}}},"/api/File":{"post":{"tags":["File"],"summary":"Post list of file's.","operationId":"File_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"attList","in":"body","description":"List of KeyValuePair key: file name, value: file encoded in Base64","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/KeyValuePair[String,String]"}}},{"name":"type","in":"query","description":"company=1","required":true,"type":"string"},{"name":"additionalIntProperties","in":"query","description":"{\"id_company\":12601}","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/FpAsset":{"get":{"tags":["FpAsset"],"summary":"Returns the list of fund's with filter applied.","operationId":"FpAsset_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","description":"Get by id","required":false,"type":"integer","format":"int32"},{"name":"filter.id_fp_plan","in":"query","description":"Get by id","required":false,"type":"integer","format":"int32"},{"name":"filter.in_archive","in":"query","description":"","required":false,"type":"boolean"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"name\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiFpAsset"}}}}},"post":{"tags":["FpAsset"],"summary":"Post list of bills.","operationId":"FpAsset_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"billList","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiFpAsset"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/FpAsset/{id}":{"get":{"tags":["FpAsset"],"summary":"Fast method to get fund by id.","operationId":"FpAsset_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiFpAsset"}}}}},"/api/FpCurrency":{"get":{"tags":["FpCurrency"],"summary":"Returns the list of Currency's with filter applied.","operationId":"FpCurrency_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.outer_id","in":"query","description":"","required":false,"type":"string"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"date\", \"number\", \"number_desc\", \"seria\", \"seria_desc\"..","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.status","in":"query","description":"Possible status - None = 0, Expired = 1, Paid = 2, Not Paid = 3, Approved = 4, Not Approved = 6.","required":false,"type":"integer","format":"int32"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.in_arhive","in":"query","description":"","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiFpCurrencyOutput"}}}}},"post":{"tags":["FpCurrency"],"summary":"Post list of Currency's.","operationId":"FpCurrency_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"billList","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiFpCurrencyInput"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/FpCurrency/{id}":{"get":{"tags":["FpCurrency"],"summary":"Fast method to get Currency by id.","operationId":"FpCurrency_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiFpCurrencyOutput"}}}}},"/api/FPFund":{"get":{"tags":["FPFund"],"summary":"Returns the list of fund's with filter applied.","operationId":"FPFund_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","description":"Get by id","required":false,"type":"integer","format":"int32"},{"name":"filter.in_archive","in":"query","description":"","required":false,"type":"boolean"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"name\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiFpFund"}}}}}},"/api/FPFund/{id}":{"get":{"tags":["FPFund"],"summary":"Fast method to get fund by id.","operationId":"FPFund_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiFpFund"}}}}},"/api/FpIncome":{"get":{"tags":["FpIncome"],"summary":"Returns the list of incom's with filter applied.","operationId":"FpIncome_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.date_from","in":"query","description":"yyyy-MM-dd","required":false,"type":"string","format":"date-time"},{"name":"filter.date_to","in":"query","description":"yyyy-MM-dd","required":false,"type":"string","format":"date-time"},{"name":"filter.id_income","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_company","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"date\", \"date_desc\". Default is \"date_desc\"","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/IncomeOperationOutput"}}}}},"post":{"tags":["FpIncome"],"summary":"Post list of Income operations.","operationId":"FpIncome_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"incomeOperationList","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/IncomeOperationInput"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/FpPlan/Count":{"get":{"tags":["FpPlan"],"summary":"Returns count of FpPlan's","operationId":"FpPlan_Count","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","description":"Get by id","required":false,"type":"integer","format":"int32"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/FpPlan":{"get":{"tags":["FpPlan"],"summary":"Returns the list of fp periods with filter applied.","operationId":"FpPlan_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","description":"Get by id","required":false,"type":"integer","format":"int32"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/FpPlanOutput"}}}}},"post":{"tags":["FpPlan"],"summary":"Creates FP Period. autocreate - create next week FP Period automatically.","operationId":"FpPlan_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"fpPlan","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/FpPlanInput"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/FpPlan/{id}":{"get":{"tags":["FpPlan"],"summary":"Fast method to get FP plan by id.","operationId":"FpPlan_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/FpPlanOutput"}}}}},"/api/Helpers":{"get":{"tags":["Helpers"],"summary":"0.00","operationId":"Helpers_GetString","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"sum","in":"query","description":"","required":true,"type":"integer","format":"int32"},{"name":"decimals","in":"query","description":"","required":true,"type":"integer","format":"int32"},{"name":"currency","in":"query","description":"","required":true,"type":"string"},{"name":"localization","in":"query","description":"","required":true,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"string"}}}}},"/api/History/Count":{"get":{"tags":["History"],"summary":"Returns count of History's","operationId":"History_Count","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_company","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_history_event_type","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"date\"","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.period_begin","in":"query","description":"yyyy-MM-dd, To enable use search_date_type property","required":false,"type":"string","format":"date-time"},{"name":"filter.period_end","in":"query","description":"yyyy-MM-dd, To enable use search_date_type property","required":false,"type":"string","format":"date-time"},{"name":"filter.id_current_user","in":"query","description":"","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/History":{"get":{"tags":["History"],"summary":"Returns the list of Historys with filter applied.","operationId":"History_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_company","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_history_event_type","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"date\"","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.period_begin","in":"query","description":"yyyy-MM-dd, To enable use search_date_type property","required":false,"type":"string","format":"date-time"},{"name":"filter.period_end","in":"query","description":"yyyy-MM-dd, To enable use search_date_type property","required":false,"type":"string","format":"date-time"},{"name":"filter.id_current_user","in":"query","description":"","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiHistoryOutput"}}}}},"post":{"tags":["History"],"summary":"Post list of Historys.","operationId":"History_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"list","in":"body","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiHistoryInput"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/History/{id}":{"get":{"tags":["History"],"summary":"Fast method to get History by id.","operationId":"History_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiHistoryOutput"}}}}},"/api/HistoryEvent/Count":{"get":{"tags":["HistoryEvent"],"summary":"Returns count of History's","operationId":"HistoryEvent_Count","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"date\"","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/HistoryEvent":{"get":{"tags":["HistoryEvent"],"summary":"Returns the list of Historys with filter applied.","operationId":"HistoryEvent_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"date\"","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiHistoryEventOutput"}}}}}},"/api/HistoryEvent/{id}":{"get":{"tags":["HistoryEvent"],"summary":"Fast method to get History by id.","operationId":"HistoryEvent_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiHistoryEventOutput"}}}}},"/api/IncomeCategory":{"get":{"tags":["IncomeCategory"],"summary":"Returns the list of income categories with filter applied.","operationId":"IncomeCategory_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.outer_id","in":"query","description":"","required":false,"type":"string"},{"name":"filter.in_archive","in":"query","description":"","required":false,"type":"boolean"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"name\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiIncomeCategory"}}}}},"post":{"tags":["IncomeCategory"],"summary":"Post list of income categories.","operationId":"IncomeCategory_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"incomeCatList","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiIncomeCategory"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}},"delete":{"tags":["IncomeCategory"],"summary":"Delete list of income categories.","operationId":"IncomeCategory_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"arhive","in":"query","description":"true = move to arhive, false = move from arhive","required":false,"type":"boolean"},{"name":"filter.id_id","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.outer_id","in":"query","description":"","required":false,"type":"string"},{"name":"filter.in_archive","in":"query","description":"","required":false,"type":"boolean"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"name\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/IncomeCategory/{id}":{"get":{"tags":["IncomeCategory"],"summary":"Fast method to get income category by id.","operationId":"IncomeCategory_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiIncomeCategory"}}}}},"/api/Invoice/Count":{"get":{"tags":["Invoice"],"summary":"Returns count of Bill's","operationId":"Invoice_Count","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.in_arhive","in":"query","description":"value = false: not arhive(defalult)/value = true: in arhive/value = null: all","required":false,"type":"boolean"},{"name":"filter.id_id","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.outer_id","in":"query","description":"","required":false,"type":"string"},{"name":"filter.id_company","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.id_person","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"date\", \"number\", \"number_desc\", \"seria\", \"seria_desc\"..","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.status","in":"query","description":"Possible status - Expired = 1, Paid - 2, NotPaid = 3, PaidCurrentFp = 4","required":false,"type":"integer","format":"int32"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.period_begin","in":"query","description":"yyyy-MM-dd","required":false,"type":"string","format":"date-time"},{"name":"filter.period_end","in":"query","description":"yyyy-MM-dd","required":false,"type":"string","format":"date-time"},{"name":"filter.search_date_type","in":"query","description":"None = -1, Date = 0, PaymentDate = 1, FactPaymentDate = 2, DeliveryDate = 3, Planned = 4","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Invoice":{"get":{"tags":["Invoice"],"summary":"Returns the list of invoice with filter applied.","operationId":"Invoice_Get","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"filter.in_arhive","in":"query","description":"value = false: not arhive(defalult)/value = true: in arhive/value = null: all","required":false,"type":"boolean"},{"name":"filter.id_id","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.outer_id","in":"query","description":"","required":false,"type":"string"},{"name":"filter.id_company","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.id_person","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"date\", \"number\", \"number_desc\", \"seria\", \"seria_desc\"..","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.status","in":"query","description":"Possible status - Expired = 1, Paid - 2, NotPaid = 3, PaidCurrentFp = 4","required":false,"type":"integer","format":"int32"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.period_begin","in":"query","description":"yyyy-MM-dd","required":false,"type":"string","format":"date-time"},{"name":"filter.period_end","in":"query","description":"yyyy-MM-dd","required":false,"type":"string","format":"date-time"},{"name":"filter.search_date_type","in":"query","description":"None = -1, Date = 0, PaymentDate = 1, FactPaymentDate = 2, DeliveryDate = 3, Planned = 4","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiInvoiceOutput"}}}}},"post":{"tags":["Invoice"],"summary":"Post list of bills.","operationId":"Invoice_Post","consumes":["application/json","text/json","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"invoiceList","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiInvoiceInput"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Invoice/{id}":{"get":{"tags":["Invoice"],"summary":"Fast method to get invoice by id.","operationId":"Invoice_GetById","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiInvoiceOutput"}}}},"delete":{"tags":["Invoice"],"summary":"delete","operationId":"Invoice_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/InvoiceAttachment/ExportFromTemplate":{"post":{"tags":["InvoiceAttachment"],"operationId":"InvoiceAttachment_ExportFromTemplate","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"submit","in":"body","required":true,"schema":{"$ref":"#/definitions/InvoiceExportFromTemplateInput"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/InvoiceAttachment":{"get":{"tags":["InvoiceAttachment"],"summary":"Returns the list of invoices with filter applied.","operationId":"InvoiceAttachment_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"date\", \"number\", \"number_desc\", \"seria\", \"seria_desc\"..","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"seria\", \"number\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.in_arhive","in":"query","required":false,"type":"boolean"},{"name":"filter.id_stock_document","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiInvoiceAttachmentOutput"}}}}},"post":{"tags":["InvoiceAttachment"],"summary":"Post list of invoices.","operationId":"InvoiceAttachment_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"invoiceList","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiInvoiceAttachmentInput"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/InvoiceAttachment/{id}":{"get":{"tags":["InvoiceAttachment"],"summary":"Fast method to get invoice by id.","operationId":"InvoiceAttachment_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiInvoiceAttachmentOutput"}}}}},"/api/InvoicePayment":{"post":{"tags":["InvoicePayment"],"summary":"","operationId":"InvoicePayment_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"submit","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/InvoicePaymentInput"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/InvoicePayment/{id}":{"delete":{"tags":["InvoicePayment"],"summary":"delete","operationId":"InvoicePayment_Delete","consumes":[],"produces":["application/json","text/json"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Login/Me":{"get":{"tags":["Login"],"summary":"Return user id","operationId":"Login_Me","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Login":{"get":{"tags":["Login"],"summary":"Cheks if credentials true, returns person_id &gt; 0, if credentials false 0","operationId":"Login_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"login","in":"query","description":"Username/Login/Email","required":true,"type":"string"},{"name":"password","in":"query","description":"","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}},"post":{"tags":["Login"],"summary":"Login Post","operationId":"Login_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"data","in":"body","required":true,"schema":{"$ref":"#/definitions/LoginUser"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Massmail":{"get":{"tags":["Massmail"],"summary":"Returns the list of Payment Types with filter applied.","operationId":"Massmail_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"name\", \"short_name\"","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"name\"","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.disabled","in":"query","description":"Filter by in arhive","required":false,"type":"boolean"},{"name":"filter.subject","in":"query","description":"Filter by mail subject","required":false,"type":"string"},{"name":"filter.name","in":"query","description":"Filter by mail name","required":false,"type":"string"},{"name":"filter.date_from","in":"query","description":"Filter by date to send from","required":false,"type":"string","format":"date-time"},{"name":"filter.date_to","in":"query","description":"Filter by date to send to","required":false,"type":"string","format":"date-time"},{"name":"filter.status","in":"query","description":"Filter by mail status\r\n\r\nall == -1,\r\npending = 0 when mm is prepared or been edited, not wants to be send yet,\r\nscheduled = 1 when mm given to service and is been sheduled in service,\r\nsending = 2 when mm given to service and is been sending in service,\r\npaused = 3 when mm given to service and is been paused in service,\r\nsent = 4 when mm recives response from service,\r\nerror = 5 when mm recives response from service","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiMassmailOutput"}}}}},"post":{"tags":["Massmail"],"summary":"Post list of Payment Types.","operationId":"Massmail_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"list","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiMassmailInput"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Massmail/{id}":{"get":{"tags":["Massmail"],"summary":"Fast method to get Payment Type by id.","operationId":"Massmail_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiMassmailOutput"}}}}},"/api/MassmailSendingList":{"get":{"tags":["MassmailSendingList"],"summary":"Returns the list of Payment Types with filter applied.","operationId":"MassmailSendingList_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"name\", \"short_name\"","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"name\"","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.id_massmail","in":"query","description":"Filter by massmail","required":false,"type":"integer","format":"int32"},{"name":"filter.email","in":"query","description":"Filter by email","required":false,"type":"string"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiFilterMassmailSendingListOutput"}}}}},"post":{"tags":["MassmailSendingList"],"summary":"Post list of Payment Types.","operationId":"MassmailSendingList_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"list","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiFilterMassmailSendingListInput"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/MassmailSendingList/{id}":{"get":{"tags":["MassmailSendingList"],"summary":"Fast method to get Payment Type by id.","operationId":"MassmailSendingList_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiFilterMassmailSendingListOutput"}}}}},"/api/Msg/Count":{"get":{"tags":["Msg"],"summary":"Returns count of Messages's","operationId":"Msg_Count","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.basket_type","in":"query","description":"Inbox = 0\r\nOutbox = 1\r\nPostponed = 2\r\nDrafts = 3\r\nTemplates = 4","required":false,"type":"integer","format":"int32"},{"name":"filter.letter_type","in":"query","description":"None = -1\r\nOrder = 0 \r\nCommon = 2\r\nMassMail = 3\r\nEmail = 5 \r\nVia = 6\r\nCSW = 7","required":false,"type":"integer","format":"int32"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Msg":{"get":{"tags":["Msg"],"summary":"Returns the list of msg_positionn with filter applied.","operationId":"Msg_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.basket_type","in":"query","description":"Inbox = 0\r\nOutbox = 1\r\nPostponed = 2\r\nDrafts = 3\r\nTemplates = 4","required":false,"type":"integer","format":"int32"},{"name":"filter.letter_type","in":"query","description":"None = -1\r\nOrder = 0 \r\nCommon = 2\r\nMassMail = 3\r\nEmail = 5 \r\nVia = 6\r\nCSW = 7","required":false,"type":"integer","format":"int32"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiMsgPosition"}}}}}},"/api/MsgCsw/PositionsToCSW":{"get":{"tags":["MsgCsw"],"summary":"Returns the list of msg_position with filter applied.","operationId":"MsgCsw_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id_sender","in":"query","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiPositionsToCSWItem"}}}}}},"/api/MsgCsw/PositionsFromCSW":{"get":{"tags":["MsgCsw"],"summary":"Returns the list of msg_position with filter applied.","operationId":"MsgCsw_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"use_currentUser","in":"query","required":false,"type":"boolean"},{"name":"id_person","in":"query","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiPositionsFromCSWItem"}}}}}},"/api/MsgCsw":{"post":{"tags":["MsgCsw"],"summary":"Works with Login to API not by APY key","operationId":"MsgCsw_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"model","in":"body","description":"","required":true,"schema":{"$ref":"#/definitions/ApiMsgCswDraft"}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/MsgEmailAccount/Count":{"get":{"tags":["MsgEmailAccount"],"summary":"Returns count of Email account's","operationId":"MsgEmailAccount_Count","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/OrgBoardPosition/Count":{"get":{"tags":["OrgBoardPosition"],"summary":"Returns count of position's","operationId":"OrgBoardPosition_Count","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_person","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.id_id","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.outer_id","in":"query","description":"","required":false,"type":"string"},{"name":"filter.sort","in":"query","description":"","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.is_main","in":"query","description":"Is in charge of unit","required":false,"type":"boolean"},{"name":"filter.is_holder","in":"query","description":"Shareholder","required":false,"type":"boolean"},{"name":"filter.is_executive","in":"query","description":"Top manager","required":false,"type":"boolean"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.in_arhive","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/OrgBoardPosition":{"get":{"tags":["OrgBoardPosition"],"summary":"Returns the list of orgboard position with filter applied.","operationId":"OrgBoardPosition_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_person","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.id_id","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.outer_id","in":"query","description":"","required":false,"type":"string"},{"name":"filter.sort","in":"query","description":"","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.is_main","in":"query","description":"Is in charge of unit","required":false,"type":"boolean"},{"name":"filter.is_holder","in":"query","description":"Shareholder","required":false,"type":"boolean"},{"name":"filter.is_executive","in":"query","description":"Top manager","required":false,"type":"boolean"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.in_arhive","in":"query","required":false,"type":"boolean"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiPositionOutput"}}}}}},"/api/OrgBoardPosition/{id}":{"get":{"tags":["OrgBoardPosition"],"summary":"Fast method to get position by id.","operationId":"OrgBoardPosition_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiPositionOutput"}}}}},"/api/PaymentType":{"get":{"tags":["PaymentType"],"summary":"Returns the list of Payment Types with filter applied.","operationId":"PaymentType_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_person","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.id_id","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.outer_id","in":"query","description":"","required":false,"type":"string"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"name\", \"short_name\"","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"Possible search - \"name\"","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiPaymentTypeOutput"}}}}},"post":{"tags":["PaymentType"],"summary":"Post list of Payment Types.","operationId":"PaymentType_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"list","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiPaymentTypeInput"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/PaymentType/{id}":{"get":{"tags":["PaymentType"],"summary":"Fast method to get Payment Type by id.","operationId":"PaymentType_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiPaymentTypeOutput"}}}}},"/api/Person/Count":{"get":{"tags":["Person"],"summary":"Returns count of Person's","operationId":"Person_Count","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","description":"Get by id","required":false,"type":"integer","format":"int32"},{"name":"filter.ids","in":"query","description":"Get by ids","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"filter.outer_id","in":"query","description":"","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"search first_name, last_name, middle_name","required":false,"type":"string"},{"name":"filter.is_disabled","in":"query","description":"Checks archive people. If NULL returns all (including archive). e.g. /api/person?is_disabled (without any value)","required":false,"type":"boolean"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"id\", \"id_desc\", \"name\". Default is \"name\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"format":"int32","type":"integer"}}}}},"/api/Person":{"get":{"tags":["Person"],"summary":"Returns the list of person's with filter applied.        \r\nReturns including orgboard divisions.","operationId":"Person_Get","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","description":"Get by id","required":false,"type":"integer","format":"int32"},{"name":"filter.ids","in":"query","description":"Get by ids","required":false,"type":"array","items":{"type":"integer","format":"int32"},"collectionFormat":"multi"},{"name":"filter.outer_id","in":"query","description":"","required":false,"type":"string"},{"name":"filter.search","in":"query","description":"search first_name, last_name, middle_name","required":false,"type":"string"},{"name":"filter.is_disabled","in":"query","description":"Checks archive people. If NULL returns all (including archive). e.g. /api/person?is_disabled (without any value)","required":false,"type":"boolean"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"id\", \"id_desc\", \"name\". Default is \"name\".","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer","format":"int32"},{"name":"filter.take","in":"query","description":"Sets the TAKE number records  returned","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"type":"array","items":{"$ref":"#/definitions/ApiPerson"}}}}},"post":{"tags":["Person"],"summary":"Post list of people. Passwords WON'T change!","operationId":"Person_Post","consumes":["application/json","text/json","application/xml","text/xml","application/x-www-form-urlencoded"],"produces":["application/json","text/json"],"parameters":[{"name":"personList","in":"body","description":"","required":true,"schema":{"type":"array","items":{"$ref":"#/definitions/ApiPerson"}}}],"responses":{"200":{"description":"OK","schema":{"type":"object"}}}}},"/api/Person/{id}":{"get":{"tags":["Person"],"summary":"Fast method to get person by id.","operationId":"Person_GetById","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"id","in":"path","description":"","required":true,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK","schema":{"$ref":"#/definitions/ApiPerson"}}}}},"/api/PurchaseOrder/Count":{"get":{"tags":["PurchaseOrder"],"summary":"Returns count of Purchase Order's","operationId":"PurchaseOrder_Count","consumes":[],"produces":["application/json","text/json","application/xml","text/xml"],"parameters":[{"name":"filter.id_id","in":"query","description":"Get by id","required":false,"type":"integer","format":"int32"},{"name":"filter.outer_id","in":"query","description":"","required":false,"type":"string"},{"name":"filter.id_fp_plan","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.id_position","in":"query","description":"","required":false,"type":"integer","format":"int32"},{"name":"filter.sort","in":"query","description":"Possible sorting - \"id_desc\", \"date\", \"date_desc\", \"name\", \"name_desc\".  Default is \"id_desc\"","required":false,"type":"string"},{"name":"filter.skip","in":"query","description":"Sets the SKIP number of records  returned","required":false,"type":"integer",
[...]
